@font-face {
  font-family: "Trace Compare Serif";
  src: url("./TraceCompareSerif-fixed.woff2") format("woff2");
  font-weight: 250 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trace Compare Sans";
  src: url("./TraceCompareSans-fixed.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
